* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1280px;
  height: 835px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 200px 100px;
  gap: 10px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 153, 153, 0.5),
    rgba(255, 153, 153, 0.5),
    rgb(153, 179, 255)
  );
}

/* main {
  width: 100%;
} */

.container {
  width: 1080px;
  height: 435px;
  display: flex;
  padding: 60px;
  gap: 60px;
  background-color: rgba(245, 247, 255, 0.85);
  border-radius: 10px;
}

.img {
  width: 570px;
  background-image: url(../Images/Image\ Placeholder.png);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.code {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* row-gap: 24px; */
}

h2 {
  width: 315px;
  height: 67px;
  font-style: normal;
  font-size: 56px;
  font-weight: 400;
  line-height: 67px;
  color: #2d2d2d;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
  @font-face {
    font-family: customfont;
    src: url(../fonts/abdoullah-ashgar-el-kharef.ttf);
  }
}

.text {
  width: 450px;
  height: 38px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38.4px;
  color: #1f1249;
  margin-bottom: 40px;
}

a {
  width: 450px;
  height: 60px;
  padding: 20px 50px;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  background: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  box-shadow: 0px 6px 18px #9cadf2;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  text-align: center;
}

/********************************
    BELOW 375px (Mobile)
  *********************************/
@media (max-width: 425px) {
  body {
    width: 375px;
    height: 647px;
    background: #fff;
  }

  .container {
    width: 375px;
    height: 647px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 40px 0px;
    gap: 40px;
  }

  .img {
    width: 315px;
    height: 315px;
    border-radius: 10px;
  }

  h2 {
    height: 50px;
    font-size: 42px;
    margin-bottom: 10px;
    line-height: 50.4px;
    margin-top: -10px;
  }

  .text {
    width: 315px;
    height: 52px;
    font-size: 16px;
    text-align: center;
    line-height: 25.6px;
    margin-left: -60px;
  }

  a {
    margin-left: -60px;
    width: 315px;
    height: 60px;
    gap: 12px;
  }
}
