* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1280px;
  font-family: "Fraunces", serif;
  height: 1056px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 200px 100px;
  gap: 10px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 153, 153, 0.5),
    rgba(255, 153, 153, 0.5),
    rgb(153, 179, 255)
  );
}

.container {
  width: 1080px;
  height: 656px;
  display: flex;
  padding: 60px;
  gap: 60px;
  background: rgba(245, 247, 255, 0.85);
  border-radius: 10px;
}

.img {
  width: 450px;
  height: 536px;
  background-image: url(../Images/Image\ Placeholder2.png);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.code {
  width: 50%;
  display: flex;
  flex-direction: column;
}

h2 {
  width: 450px;
  height: 50px;
  font-style: normal;
  font-size: 42px;
  font-weight: 400;
  line-height: 50.4px;
  color: #2d2d2d;
  margin-bottom: 20px;
  @font-face {
    font-family: customfont;
    src: url(../fonts/abdoullah-ashgar-el-kharef.ttf);
  }
}

.text {
  width: 450px;
  height: 76px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38.4px;
  color: #1f1249;
  margin-bottom: 40px;
}

.img-icon {
  width: 20px;
  height: 20px;
}

.user,
.email,
.password,
.checkPassword {
  width: 450px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 4px 10px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dbe3ff;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

input {
  border: none;
  width: 90%;
  padding: 10px;
}

input::placeholder {
  width: 369px;
  height: 44px;
  font-size: 16px;
  line-height: 22.4px;
  color: #3b3b3b;
}

.errorMessage {
  color: #e93723;
  font-size: 14px;
  margin-top: -25px;
  margin-bottom: -12px;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.errorMessage {
  background-color: #ffeeee;
}

.errorMessage.hide {
  visibility: hidden;
  display: none;
}

button {
  width: 450px;
  height: 60px;
  padding: 0px 50px;
  line-height: 22.4px;
  background: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  box-shadow: 0px 6px 18px #9cadf2;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/********************************
    BELOW 375px (Mobile)
  *********************************/
@media (max-width: 425px) {
  body {
    width: 375px;
    height: 931px;
    background: #fff;
  }

  .container {
    width: 375px;
    height: 931px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 40px 0px;
    gap: 40px;
  }

  .img {
    width: 315px;
    height: 315px;
    border-radius: 10px;
  }

  h2 {
    width: 315px;
    height: 38px;
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 38.4px;
  }

  .text {
    width: 315px;
    height: 52px;
    font-size: 16px;
    text-align: center;
    line-height: 25.6px;
    margin-left: -60px;
  }

  .user,
  .email,
  .password,
  .checkPassword {
    width: 315px;
    height: 60px;
    margin-left: -60px;
  }

  button {
    margin-left: -60px;
    width: 315px;
    height: 60px;
    gap: 12px;
  }
}
